p {
    margin: 0%;
}
.BookedStyle {
    width: 70px;
    height: 30px;
    border: #cbcbcb solid 0.5px;
    background-color: #cbcbcb;
    margin-bottom: 25px;
}
.VacantStyle {
    width: 70px;
    height: 30px;
    border: #cbcbcb solid 0.5px;
    margin-bottom: 25px;
}
.SelectedStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: rgb(46, 46, 46) solid 0.5px;
    margin-bottom: 25px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 12px;
}
.DisplaySeatName {
    display: block;
}
.HideSeatName {
    display: none;
}
