.SearchDataWrapper {
    border-radius: 0%;
}
.SearchedDataStyle {
    display: flex;
}
.SearchedDataStyle p{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: #3e3e52;
    word-break: break-word;
    letter-spacing: 1.5px;
}
.ArrowStyle {
    margin-left: 20px;
}