.SpinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.BusTicketSpinner {
    color: #d84f57;
    width: 80px;
    height: 80px;
}
.NoBusFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}