.CardWrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0%;
    border-left-width: 6px;
    border-left-color: gray;
}
.SeatsWrapper {
    width: 500px;
    height: 187px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0px 0px 5px 20px;
}
.SteeringWheel {
    width: 28px;
    height: 25px;
    margin: 15px 0px 0px 10px;
    color: #cbcbcb;
}
.Line {
    height: 168px;
    border: 0;
    border-left: 1px solid #ccc;
    margin: 6px 0px 0px 5px;
    padding: 0;
}