.Offer {
  position: relative;
  min-height: 350px;
  background-color: #f8f8f8;
  padding: 2em 0;
}

.Offer .Offer-card {
  box-shadow: 0 1px 10px #c3c3c3;
  width: 370px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 0.7em;
}
.Offer p:nth-of-type(2) {
  font-weight: 700;
  font-size: 1.1rem;
}

.Register {
  position: absolute;
  background-color: #fff5e5;
  left: 50%;
  top: -5px;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 28%);
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  justify-content: center;
  padding: 1.5em 1em;
  gap: 1rem;
}

.Register p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}
.Register p:nth-of-type(2) {
  font-size: 0.8rem;
}

.Register button {
  align-self: flex-end;
  margin-top: 2em;
  background-color: #d84e55;
  font-size: 0.9rem;
  letter-spacing: 0.86px;
}

.Register img {
  width: 60px;
  aspect-ratio: auto 60 / 70;
  height: 70px;
}
