.Passenger {
  box-shadow: 0 0 4px 0 hsl(0deg 0% 64% / 50%);
  font-size: 0.9rem;
}

.Passenger .Gender-option {
  display: inline-block;
  margin-right: 1.5em;
}

.Passenger .seat {
  font-weight: 600;
}

input[type='radio'] {
  height: 16px;
  width: 16px;
}

.Row-2 {
  display: flex;
  justify-content: space-between;
}
