h5 {
    margin: 0%;
}
p {
    margin: 0%;
}
.PaymentCardStyle {
    border-radius: 0%;
    min-width: 400px;
}
.card-body {    
    padding: 1rem 0 0;
}
.SelectedSeats {
    display: flex;
}
.BDHeading {
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
    border-bottom:  1px solid #ccc;
}
.BDBody {
    padding: 20px;
}
.ActiveStyle {
    color: #d84f57;
    border-bottom:  3.8px solid #d84f57;
    padding: 0px 8px 5px;
    cursor: pointer;
}
.InactiveStyle {
    color: #4a4a4a;
    padding: 0px 8px 5px;
    cursor: pointer;
}
.BDWrapper {
    color: #4a4a4a;
    min-height: 160px;
    border-bottom:  1px solid #ccc;
}
.PointStyle {
    display: flex;
}
.TimeStyle {
    min-width: 50px;
    margin-left: 8%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}
.LabelStyle {
    min-width: 70px;
    margin-left: 12%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}
.AmountWrapper {
    display: flex;
    margin-top: 10px;
    color: #4a4a4a;
    letter-spacing: 1px;
    justify-content: space-between;
}
.BtnStyle{
    background-color: #d84f57;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0%;
    width: 100%;
    border: transparent;
    letter-spacing: 1px;
}
.BtnStyle:hover,
.BtnStyle:focus{
    color: white;
    background-color: rgba(243, 65, 77, 0.9);
}
.BDInfoWrapper {
    padding: 0px 30px;
    color: #4a4a4a;
    letter-spacing: 1px;
}
.InfoHeading {
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;
    margin-bottom: 20px;
}
.LineBDWrapper {
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    padding-bottom: 20px;
    border-bottom:  1px solid #ccc;
}
.SelectedBDWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}
.PlaceStyle {
    display: flex;
    justify-content: space-between;
}
.RouteStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.DashedLine {
    height: 50px;
    border: 0;
    border-left: 1.9px dashed #4a4a4a;
    margin: 0;
    padding: 0;
}
.StartDot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #4a4a4a
}
.EndDot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #ccc
}
.SelectedSeats {
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid #ccc;
    padding: 12px 0px;
    margin-bottom: 12px;
}
.SeatNameArray {
    display: flex;
}
.CursorPointer {
    cursor: pointer;
}