.SearchBar {
  display: flex;
  background: url('../../assets/banner_main.png') center/cover no-repeat;
  min-height: 450px;
  flex-direction: column;
  gap: 4rem;
  font-size: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.SearchBar h1 {
  color: #fff;
  font-weight: 700;
}
.SearchBar h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.SearchBar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar form label {
  display: none;
}

.SearchBar form button {
  background-color: #d74f57;
  color: white;
  border-radius: 0%;
  align-self: flex-end;
}

.SearchBar form button:hover,
.SearchBar form button:focus {
  background-color: rgba(216, 79, 87, 0.8);
}
