.NavbarStyle {
  background-color: #d84f57;
  padding-left: 40px;
}

.UserProfileStyle {
  display: flex;
  padding-right: 20px;
  color: white;
}
.nav-link {
  color: white !important;
}

.UserIconStyle {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  align-self: flex-start;
}
