.Signup {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  min-height: 500px;
}

.Signup .Signup-content {
  margin: 0 auto;
  width: 40%;
}

.Signup button {
  background-color: #d84f57;
  border: none;
}

form input {
  border-radius: 0 !important;
}

.Signup button:hover,
.Signup button:focus {
  background-color: rgba(216, 79, 87, 0.9);
}

.Signup-content p {
  color: #d84f57;
  letter-spacing: 1.5px;
}

.OtpButtonStyle {
  background-color: #d84f57;
  color: white;
  margin-top: 5px;
}

.OtpButtonStyle:hover,
.OtpButtonStyle:focus {
  color: white;
  background-color: rgba(243, 65, 77, 0.9);
}

.BSWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.HeadWrapper {
  display: flex;
  min-width: 380px;
}

.Heading {
  font-size: 30px;
  color: #d84f57;
  margin-bottom: 20px;
}

.OtpSpinnerStyle {
  color: #d84f57;
  margin-left: 10px;
}

.OtpFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62vh;
}

.OtpForm {
  min-width: 380px;
}

@media (max-width: 768px) {
  .Signup .Signup-img {
    display: none;
  }
  .Signup .Signup-content {
    width: 70%;
  }
}
@media (max-width: 481px) {
  .Signup .Signup-content {
    width: 95%;
  }
}

@media screen and (max-width: 380px) {
  .OtpForm {
      min-width: unset;
  }
}

