.Footer {
  height: 100%;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  background-color: #000e1c;
  margin-top: 100px;
}
.Footer li {
  color: #e7e7e7;
  text-decoration: none;
}
.Footer li a {
  color: #e7e7e7;
  text-decoration: none;
}

.Footer p {
  text-decoration: none;
  color: #e7e7e7;
}

.Footer .Footer-columns {
  flex: 1;
}
