.PassengerDetails {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-end;
}

.PassengerDetails .heading {
  font-size: 1.4rem;
  font-weight: 600;
}
.PassengerDetails h2 {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1.1px solid lightgray;
}

.PassengerDetails .PassengerDetails-form {
  position: relative;
  padding: 1em;
  background-color: white;
  padding-bottom: 10em;
  width: 45%;
}

.PassengerDetails .PassengerDetails-form .contact {
  border-top: 1px solid lightgray;
}

.Fixed-Footer {
  position: fixed;
  z-index: 10;
  border-top: 1px solid lightgray;
  padding: 0.6em 1em;
  background-color: white;
  bottom: 0;
}
.Fixed-Footer > p {
  font-size: 0.8rem;
  padding: 0.7em;
}

.Fixed-Footer > div {
  font-weight: 700;
  padding: 0 0.6em;
}

.Fixed-Footer .Footer-payment {
  display: flex;
  justify-content: space-between;
}
.contact-heading {
  background-color: #fff181;
  width: 65%;
  border-radius: 0.3em;
  font-size: 0.8rem;
  padding-left: 0.8em !important;
}

.emailaddress {
  width: 92%;
}

.phonenumber {
  width: 92%;
}
