.LoginFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
}

.Loginform {
    min-width: 380px;
}

.HeadingImgWrapper {
    display: flex;
    align-items: center;
}

.ImgStyle {
    margin-bottom: 20px;
    margin-left: 8px;
}

.Heading {
    font-size: 48px;
    color: #d84f57;
    margin-bottom: 20px;
}

.ButtonStyle {
    background-color: #d84f57;
    color: white;
    margin-top: 5px;
}

.ButtonStyle:hover,
.ButtonStyle:focus {
    color: white;
    background-color: rgba(243, 65, 77, 0.9);
}

.ButtonSpinnerWrapper {
    display: flex;
    align-items: center;
}

.SpinnerStyle {
    color: #d84f57;
    margin-left: 10px;
}

@media screen and (max-width: 380px) {
    .Loginform {
        min-width: unset;
    }
}
