p {
    margin: 0%;
}
.ButtonStyle {
    background-color: #d84f57;
    color: white;
    margin-top: 5px;
}
.ButtonStyle:hover {
    color: rgb(231, 231, 231);
}

.ButtonSpinnerWrapper {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: 40px;
}
.SpinnerStyle {
    color: #d84f57;
    margin-right: 10px;
}
.BusDetailsStyle {
    width: 1000px;
    margin-top: 40px;
    border-radius: 0%;
    padding: 0%;
}
.BusDetailSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BusDetailWrapper {
    display: flex;
    flex-direction: column;
}
.BusBody {
    display: flex;
    flex-direction: column;
    padding: 0%;
}
.BusHead {
    font-size: 25px;
    font-weight: bold;
}
.BusBodySection1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px;
}
.ElementSection1 {
    display: flex;
    flex-direction: column;
}
.ElementHead {
    font-size: 15px;
    font-weight: lighter;
}
.BoldElement {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.ElementBody {
    font-size: 20px;
    margin-top: 40px;
}
.FareWrapper {
    display: flex;
    align-items: center;
}
.InrStyle {
    font-size: 14px;
    margin-right: 4px;
    align-self: flex-end;
}
.SeatsAvailable {
    font-size: 16px;
    margin-top: 40px;
}
.ViewTicketButton {
    background-color: #d84f57;
    color: white;
    border: transparent;
    font-size: 14.3px;
    letter-spacing: 1.1px;
    padding: 6px 15px;
}
.HideTicketButton {
    background-color: #465986;
    color: white;
    border: transparent;
    font-size: 14.3px;
    letter-spacing: 1.1px;
    padding: 6px 15px;
}
.SeatDetailsSection {
    display: flex;
    justify-content: space-around;
    background-color: #eeeded;
    padding: 80px 20px 30px 20px;
}
.SeatSelection {
    max-width: 500px;
}
.SeatInfoStyle {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.BookedSeatLegend {
    width: 40px;
    height: 20px;
    border: #cbcbcb solid 0.5px;
    background-color: #cbcbcb;
    margin-left: 20px;
}
.VacantSeatLegend {
    width: 40px;
    height: 20px;
    border: #cbcbcb solid 0.5px;
    background-color: white;
}
.LegendLabel {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    letter-spacing: 1.1px;
}