.Benefits {
  min-height: 530px;
}

.Benefits img {
  width: 108px;
  height: 112px;
}
.Benefits .Benefits-cards {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Benefits .Benefits-cards .card-body {
  border: 1px solid #cecece;
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 484px;
  width: 308px;
}

.Benefits .Benefits-cards .card-body p {
  color: #686868;
}
